<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OxyPlot.Core" version="2015.1.999-alpha" targetFramework="MonoAndroid403" />
  <package id="OxyPlot.Xamarin.Android" version="2015.1.999-alpha" targetFramework="MonoAndroid403" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="MonoAndroid403" />
</packages>